* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(50% 50% at 50% 50%, #3FCB8D 0%, #25895D 100%);
  display: flex;
  justify-content: center;
}

.mobile {
  display: none;
}

.desktop {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1500px;
}

.desktop .main-content {
  position: absolute;
  left: 0;
  padding-left: 1.25rem;
}

.desktop .main-content .main-text {
  padding-left: 7rem;
}

.desktop .main-content .main-text .logo {
  margin: 5.125rem 0;
  width: 16rem;
  height: 4.4375rem;
}

.desktop .main-content .main-text h1 {
  font-size: 3rem;
  line-height: 3.6875rem;
  font-weight: 700;
  margin-bottom: 0.625rem;
}

.desktop .main-content .main-text .present {
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

.desktop .main-content .main-text .description {
  font-size: 1.5rem;
  margin-bottom: 3.125rem;
  width: 35rem;
}

.desktop .main-content .greeting {
  width: 31.625rem;
  height: 24.0625rem;
  margin-left: 2.8rem;
}

.desktop .main-content .copyright {
  text-align: center;
  width: 100%;
  padding: 0 0.5rem;
  margin-top: 70px;
  font-size: 1.2rem;
}

.desktop .tree {
  height: 100vh;
  width: 100%;
  position: absolute;
  display: flex;
}

.desktop .tree .tree-img {
  width: 55.5625rem;
  scale: 1.1;
  height: 64rem;
  position: relative;
  z-index: 2;
  filter: drop-shadow(5px 5px 5px rgba(238, 240, 219, 0.3));
  transform: translate(-86px, 0px);
}

.desktop .tree .lights {
  position: absolute;
  top: -0.625rem;
  left: -20.125rem;
  width: 68.6875rem;
  height: 20.1875rem;
  filter: drop-shadow(4px -4px 5px rgba(238, 240, 219, 0.3));
  z-index: 1;
}

.desktop .tree .balls img {
  width: 5.4181rem;
  height: 6.9375rem;
  position: absolute;
  z-index: 3;
}

.desktop .tree .balls img:nth-child(1) {
  top: 6rem;
  left: 23rem;
}

.desktop .tree .balls img:nth-child(2) {
  top: 12rem;
  left: 12rem;
}

.desktop .tree .balls img:nth-child(3) {
  top: 22rem;
  left: 30.75rem;
}

.desktop .tree .balls img:nth-child(4) {
  top: 27.6875rem;
  left: 1.4375rem;
}

.desktop .tree .balls img:nth-child(5) {
  top: 35rem;
  left: 19.125rem;
}

.desktop .tree .balls img:nth-child(6) {
  top: 44.5625rem;
  left: 30rem;
}

.desktop .tree .balls img:nth-child(7) {
  top: 52.375rem;
  left: 7rem;
}

.desktop .tree .balls img:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 5px #eef0db);
}

.modal-box {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background: rgba(2, 23, 14, 0.44);
  backdrop-filter: blur(1.5px);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-box .modal {
  width: fit-content;
  height: fit-content;
  max-width: 40%;
  max-height: 80%;
  background-color: #3FCB8D;
  padding: 15px;
  background: linear-gradient(180deg, #25895D 10%, #3FCB8D 100%);
  box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.modal-box .modal .modal-header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.modal-box .modal .modal-header img:hover {
  cursor: pointer;
}

.modal-box .modal .enter-email {
  display: flex;
  flex-direction: column;
}

.modal-box .modal .enter-email .add-email {
  margin-top: 1rem;
  font-weight: bold;
}

.modal-box .modal .enter-email .email-error {
  display: none;
  margin-top: 0.5rem;
}

.modal-box .modal .enter-email input {
  margin-top: 1rem;
  outline: none;
  background: rgba(255, 255, 255, 0.54);
  border-radius: 3px;
  min-height: 32px;
  border: none;
  padding: 0 0.5rem;
  color: #292524;
  font-size: 700;
}

.modal-box .modal .enter-email button {
  min-height: 2rem;
  border-radius: 5px;
  background-color: #047857;
  color: #fff;
  border: none;
  outline: none;
  font-weight: 700;
  padding: 0.5rem 1rem;
  transition: .2s;
  margin-top: 1rem;
  width: fit-content;
}

.modal-box .modal .enter-email button:hover {
  cursor: pointer;
  background-color: #059669;
  transition: .2s;
}

.modal-box .modal .modal-body {
  padding: 1rem 2rem;
  line-height: 20px;
  display: none;
  flex-direction: column;
}

.modal-box .modal .modal-body p {
  margin-bottom: 1rem;
}

.modal-box .modal .modal-body .prize-text {
  font-weight: 700;
  font-size: 1rem;
}

.modal-box .modal .modal-body .prize-phone {
  font-size: 1rem;
}

.modal-box .modal .modal-body .take-prize {
  display: none;
}

.modal-box .modal .modal-body .phone-input {
  display: flex;
  flex-direction: column;
}

.modal-box .modal .modal-body .phone-input input {
  outline: none;
  background: rgba(255, 255, 255, 0.54);
  border-radius: 3px;
  min-height: 32px;
  border: none;
  padding: 0 0.5rem;
  color: #292524;
  font-size: 700;
  max-width: 150px;
}

.modal-box .modal .modal-body .phone-input button {
  min-height: 2rem;
  border-radius: 5px;
  background-color: #047857;
  color: #fff;
  border: none;
  outline: none;
  font-weight: 700;
  padding: 0.5rem 1rem;
  transition: .2s;
  margin-top: 1rem;
  width: fit-content;
}

.modal-box .modal .modal-body .phone-input button:hover {
  cursor: pointer;
  background-color: #059669;
  transition: .2s;
}

@media (min-width: 1440px) {
  .desktop .main-content {
    position: relative;
  }

  .desktop .tree {
    position: relative;
    left: 3.5rem;
  }
}

@media (max-width: 1440px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1240px) {
  html {
    font-size: 12px;
  }

  html body .modal-box .modal {
    max-width: 60%;
  }
}

/* @media (max-width: 1150px) {
  html {
    font-size: 11px;
  }

  html body .desktop {
    display: none;
  }
  html body .mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
  }
} */

@media (max-width: 1150px) {
  html {
    font-size: 12px;
  }

  html body {
    width: 100vw;
    overflow: hidden;
  }

  html body .desktop {
    display: none;
  }

  html body .mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
  }

  html body .mobile .logo {
    padding: 20px 0 150px 0;
    max-width: 256px;
    height: auto;
  }

  html body .mobile .lights {
    position: absolute;
    top: 120px;
    /* right: 50%; */
    left: 33rem;
    transform: translate(-50%, -50%);
    filter: drop-shadow(4px -4px 5px rgba(238, 240, 219, 0.3));
    width: 93rem;
  }

  html body .mobile .main-text {
    padding: 0 0 0 1rem;
    width: 70%;
    margin: 7rem;
  }

  html body .mobile .main-text h1 {
    font-size: 3rem;
    line-height: 3.6875rem;
    font-weight: 700;
    margin-bottom: 1.625rem;
  }

  html body .mobile .main-text .present {
    font-size: 2rem;
    line-height: 1.875rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
  }

  html body .mobile .main-text .description {
    font-size: 2rem;
    margin-bottom: 3.125rem;
  }

  html body .mobile .tree-img-mob {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  html body .mobile .tree-img-mob .tree-img {
    width: 100vw;
  }

  html body .mobile .tree-img-mob .ball {
    width: 9rem;
    height: auto;
    position: absolute;
    cursor: pointer;
  }

  html body .mobile .tree-img-mob .ball:nth-child(2) {
    top: 11%;
    left: 55%;
  }

  html body .mobile .tree-img-mob .ball:nth-child(3) {
    top: 20%;
    left: 24%;
  }

  html body .mobile .tree-img-mob .ball:nth-child(4) {
    top: 26%;
    left: 68%;
  }

  html body .mobile .tree-img-mob .ball:nth-child(5) {
    top: 34%;
    left: 35%;
  }

  html body .mobile .tree-img-mob .ball:nth-child(6) {
    top: 42%;
    left: 77%;
  }

  html body .mobile .tree-img-mob .ball:nth-child(7) {
    top: 48%;
    left: 8%;
  }

  html body .mobile .tree-img-mob .ball:nth-child(8) {
    top: 57%;
    left: 55%;
  }

  html body .mobile .tree-img-mob .greeting-box {
    position: absolute;
    z-index: 5;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background: linear-gradient(180deg, rgba(37, 137, 93, 0) 0%, #25895D 68.23%);
    top: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  html body .mobile .tree-img-mob .greeting-box .greeting {
    width: 95%;
  }

  html body .mobile .tree-img-mob .copyright {
    text-align: center;
    width: 100%;
    padding: 0 0.5rem;
    margin-top: 70px;
    margin-bottom: 32px;
    font-size: 1.6rem;
  }

  html body .modal-box .modal {
    max-width: 90%;
  }

  html body .modal-box .modal .modal-body {
    line-height: 1;
  }
}

@media (max-width: 510px) {
  html {
    font-size: 10px;
  }


  html body .mobile .logo {
    padding: 20px 0 150px 0;
    max-width: 256px;
    height: auto;
  }

  html body .mobile .lights {
    position: absolute;
    top: 120px;
    /* right: 50%; */
    left: 26rem;
    transform: translate(-50%, -50%);
    filter: drop-shadow(4px -4px 5px rgba(238, 240, 219, 0.3));
    width: 68rem;
  }

  html body .mobile .main-text {
    padding: 0 0 0 1rem;
    width: 70%;
    margin: 7rem;
  }

  html body .mobile .main-text h1 {
    font-size: 3rem;
    line-height: 3.6875rem;
    font-weight: 700;
    margin-bottom: 1.625rem;
  }

  html body .mobile .main-text .present {
    font-size: 2rem;
    line-height: 1.875rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
  }

  html body .mobile .main-text .description {
    font-size: 2rem;
    margin-bottom: 3.125rem;

    line-height: 20px;
  }

  html body .mobile .tree-img-mob {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  html body .mobile .tree-img-mob .tree-img {
    width: 100vw;
  }

  html body .mobile .tree-img-mob .ball {
    width: 9rem;
    height: auto;
    position: absolute;
  }

  html body .mobile .tree-img-mob .ball:nth-child(2) {
    top: 11%;
    left: 55%;
  }

  html body .mobile .tree-img-mob .ball:nth-child(3) {
    top: 20%;
    left: 24%;
  }

  html body .mobile .tree-img-mob .ball:nth-child(4) {
    top: 26%;
    left: 68%;
  }

  html body .mobile .tree-img-mob .ball:nth-child(5) {
    top: 34%;
    left: 35%;
  }

  html body .mobile .tree-img-mob .ball:nth-child(6) {
    top: 42%;
    left: 77%;
  }

  html body .mobile .tree-img-mob .ball:nth-child(7) {
    top: 48%;
    left: 8%;
  }

  html body .mobile .tree-img-mob .ball:nth-child(8) {
    top: 57%;
    left: 55%;
  }

  html body .mobile .tree-img-mob .greeting-box {
    position: absolute;
    z-index: 5;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background: linear-gradient(180deg, rgba(37, 137, 93, 0) 0%, #25895D 68.23%);
    top: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  html body .mobile .tree-img-mob .greeting-box .greeting {
    width: 95%;
  }

  html body .mobile .tree-img-mob .copyright {
    text-align: center;
    width: 100%;
    padding: 0 0.5rem;
    margin-top: 70px;
    margin-bottom: 32px;
    font-size: 1.6rem;
  }

  html body .modal-box .modal {
    max-width: 90%;
  }

  html body .modal-box .modal .modal-body {
    line-height: 1;
  }
}

@media (max-width: 390px) {
  html {
    font-size: 8px;
  }
}

/*# sourceMappingURL=style.css.map */